<mat-toolbar color="primary" class="mb-3 shadow-sm">
  <mat-toolbar-row>
        <!-- <span class="font-weight-bold text-lg-left mr-4">CRUD DE USUARIOS</span> -->
        <a class="nav-link  text-light font-weight-light text-sm-right small ml-4" [routerLink]="['/']" routerLinkActive="router-link-active" >Crear usuario</a>
        <!-- <a class="nav-link text-light font-weight-light text-sm-right small" [routerLink]="['/list']" routerLinkActive="router-link-active" >Ver usuarios</a> -->
  </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid">
  <router-outlet><p>hola mundossss</p></router-outlet>
  <router-outlet><p>hola mundo de jorge luis</p></router-outlet>
  <router-outlet><p>hola mundo de kevin asasas </p></router-outlet>
</div>


